$font-path: "/src/assets/fonts/";

@font-face {
    font-family: 'Manrope';
    src: url("#{$font-path}/Manrope-Regular.woff2") format("woff2");

    font-weight: 400;
}

@font-face {
    font-family: 'Manrope';
    src: url("#{$font-path}/Manrope-Bold.woff2") format("woff2");

    font-weight: 700;
}

@font-face {
    font-family: 'Sentient';
    src: url("#{$font-path}/Sentient-Light.woff2") format("woff2");

    font-weight: 300;
}
@font-face {
    font-family: 'Sentient';
    src: url("#{$font-path}/Sentient-LightItalic.woff2") format("woff2");

    font-weight: 300;
    font-style: italic;
}