$color-red: oklch(0.6441 0.1596 33.12);
$color-black: #000;
$color-white: #fff;
$color-ligth-pink: oklch(0.9689 0.0185 347.42);
$color-green: oklch(0.737 0.1287 112.69);
$color-orange: oklch(0.7775 0.1311 74.13);
