@use "./_fonts" as *;
@use "sass:map" as *;

$font-family: (
  "Manrope": "Manrope",
  "Sentient": "Sentient",
);

$font-size: (
  h1: 80px,
  h2: 40px,
  h3: 32px,
  h4: 24px,
  h5: 20px,
  h6: 16px,
  small: 14px,
  xsmall: 12px,
);

$font-weight: (
  light: 300,
  regular: 400,
  bold: 700,
);

$font-style:(
  normal: normal,
  italic: italic,
);

$line-height: (
  100: 100%,
  120: 120%,
  140: 140%,
);

@mixin font(
  $family: "Manrope",
  $size: h6,
  $weight: regular,
  $style: normal,
  $line-heights: 140,
) {
  font-family: get($font-family, $family), sans-serif;
  font-size: get($font-size, $size);
  font-weight: get($font-weight, $weight);
  font-style: get($font-style, $style);
  line-height: get($line-height, $line-heights);
}
