@use '@a1rth/css-normalize';
@use '@/styles/scss/_mixin' as *;
@use '@/styles/scss/_globals' as *;

body{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    align-items: center;
}

.class{
    width: 1440px;
    height: 3000px;
    border: 1px solid black;
    
}