@use '@/styles/scss/_mixin' as *;
@use '@/styles/scss/_globals' as *;
@import '@a1rth/css-normalize';


body{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    align-items: center;
}

.banner-container{
    width: 100vw;
    height: 40px;
    background-color: $color-green;
}
