@use '@a1rth/css-normalize';
@use '@/styles/scss/_mixin' as *;
@use '@/styles/scss/_globals' as *;

.banner-container{
    width: 100vw;
    height: 40px;
    background-color: $color-green;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:text{
        
    }
    &:icon-cancel{

    }
}

.text{
    @include font('Manrope', h6, regular, 120);
}

.icon_cancel{
    
}