@use '@a1rth/css-normalize';
@use '@/styles/scss/_mixin' as *;
@use '@/styles/scss/_globals' as *;

.banner-container{
    width: 100vw;
    height: 40px;
    background-color: $color-green;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 30px;
    position: relative;
    z-index: 1001;
    &__text{
        @include font('Manrope', h6, regular, normal,120);
        margin: 0 auto;
    }
    &__icon-cancel{
        cursor: pointer;
    }
}
